@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* light values */
    --background-light: #d6dbdc;
    --primary-light: #11389a;
    --secondary-light: #000000;
    --tertiary-light: #000000;
    --text-light: #000000;

    /* dark values */
    --background-dark: #d6dbdc;
    --primary-dark: #11389a;
    --secondary-dark: #000000;
    --tertiary-dark: #000000;
    --text-dark: #000000;

    /* initiate light values */
    --background: var(--background-light);
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --tertiary: var(--tertiary-light);
    --text: var(--text-light);
}

.dark {
    /* initiate dark values */
    --background: var(--background-dark);
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --tertiary: var(--tertiary-dark);
    --text: var(--text-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    color: var(--text);
    background: var(--background);
}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

select {
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

button {
    cursor: pointer;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
